<!-- Controller name: resist -->
<div class="container">
    <h3>Check your resistor value</h3>

    <md-radio-group ng-model="resist.modes.resistor">
      <md-radio-button value="standard">Standard precision resistor</md-radio-button>
      <md-radio-button value="high">High precision resistor</md-radio-button>
    </md-radio-group>

    <div ng-if="resist.modes.resistor === 'standard'" class="row">

        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="row">
                <div class="color-selector-left col-md-4 col-sm-4">
                    <md-input-container class="clr-select-container">
                        <label>Position 2</label>
                        <md-select ng-model="resist.resistance.positionOne">
                            <md-option ng-style="{'background-color':color.name, 'color':color.name}" ng-repeat="color in resist.colors" value="{{color.name}}">
                                {{color.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="color-selector-left col-md-4 col-sm-4">
                    <md-input-container class="clr-select-container">
                        <label>Position 2</label>
                        <md-select ng-model="resist.resistance.positionTwo">
                            <md-option ng-style="{'background-color':color.name, 'color':color.name}" ng-repeat="color in resist.colors" value="{{color.name}}">
                                {{color.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="color-selector-left col-md-4 col-sm-4">
                    <md-input-container class="clr-select-container">
                        <label>Position 3</label>
                        <md-select ng-model="resist.resistance.positionThree">
                            <md-option ng-style="{'background-color':color.name, 'color':color.name}" ng-repeat="color in resist.colors" value="{{color.name}}">
                                {{color.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6"></div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <md-input-container class="clr-select-container">
                        <label>Position 4</label>
                        <md-select ng-model="resist.resistance.positionFour">
                            <md-option ng-style="{'background-color':color.name, 'color':color.name}" ng-repeat="color in resist.colors" value="{{color.name}}">
                                {{color.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="resistor">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4" ng-style="{'background-color':resist.resistance.positionOne}"></div>
                        <div class="col-md-4 col-sm-4 col-xs-4" ng-style="{'background-color':resist.resistance.positionTwo}"></div>
                        <div class="col-md-4 col-sm-4 col-xs-4" ng-style="{'background-color':resist.resistance.positionThree}"></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="col-md-6 col-sm-6 col-xs-6"></div>
                    <div class="col-md-6 col-sm-6 col-xs-6" ng-style="{'background-color':resist.resistance.positionFour}"></div>
                </div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-12 text-center">
                <md-input-container>
                    <label>Measurement</label>
                    <md-select ng-model="resist.resistance.measureMultiplicator">
                        <md-option ng-repeat="measure in resist.measurements" value="{{measure.multiplicator}}">
                            {{measure.sign}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <md-button class="md-raised md-primary" ng-click="resist.calculateResistance()"
                ng-disabled="!resist.resistance.positionOne || !resist.resistance.positionTwo || !resist.resistance.positionThree || !resist.resistance.positionFour"
                >Calculate Resistance in OhMs</md-button>
            </div>
        </div>

        <div class="row" ng-if="resist.resistValue">
            <div class="col-md-12 text-center">
                <h3>{{resist.resistValue}}</h3>
            </div>
        </div>
    </div>

    <div ng-if="resist.modes.resistor === 'high'" class="row">
        High precision mode is not yet available
    </div>

</div>
